[project]
name = "anthropic-performance-takehome-openevolve"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "openevolve>=0.2.26",
]
